body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #b9c2c9, #d1d1d1);
  /* background: linear-gradient(to right, #b9c2c9, #4a555e); */
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  cursor: default;
}

code {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
}

/* width */
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  width: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ac560d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
